{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>ثبت نظر و امتیاز</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>امتیاز</label>
                            <div class="rating">
                                {% for i in "12345" %}
                                <input type="radio" name="rating" value="{{ i }}">
                                <label>⭐</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>نظر شما</label>
                            <textarea name="comment" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">ثبت نظر</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
